/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Miscellaneous CSS*/ 
.kekahire-hide-element {
	display: none;
} 

/* Select2 CSS*/ 
.select2-selection__rendered {
    line-height: 36px !important;
}
.select2-container .select2-selection--single {
    height: 40px !important;
}
.select2-selection__arrow {
    height: 40px !important;
}
 
/* Smart Listing CSS*/ 
.kekahire-smart-listing-container .kekahire-location-selector,
.kekahire-smart-listing-container .kekahire-department-selector {
	text-align: center;
	margin-bottom: 20px;
}
.kekahire-smart-listing-container .kekahire-department-selector {
	display: none;
}
.kekahire-smart-listing-container .kekahire-location-selector .kekahire-location-selector-title,
.kekahire-smart-listing-container .kekahire-department-selector .kekahire-department-selector-title {
	font-size: 18px;
	color: #3A3A3A;
	margin-right: 20px;
}
.kekahire-smart-listing-container .kekahire-location-selector select,
.kekahire-smart-listing-container .kekahire-department-selector select {
	padding: 10px 10px;
	width: 300px;
	text-align: left;
	border-color: #000;
	font-size: 18px;
}
.kekahire-smart-listing-container .kekahire-sidebar-listing-wrapper {
	margin-top: 50px;
}
.kekahire-smart-listing-container .kekahire-sidebar-listing-wrapper h4 {
	font-size: 18px;
	color: #3A3A3A;
}
.kekahire-smart-listing-container .kekahire-sidebar-wrapper {
	width: 250px;
	float: left;
	margin-right: 20px;
	margin-top: 25px;
}
.kekahire-smart-listing-container .kekahire-sidebar-wrapper ul {
	list-style: none;
	padding-left: 0;
}
.kekahire-smart-listing-container .kekahire-sidebar-wrapper ul li {
	font-size: 16px;
	color: #3A3A3A;
	cursor: pointer;
	padding-bottom: 25px;
}
.kekahire-smart-listing-container .kekahire-sidebar-wrapper ul li.selected,
.kekahire-smart-listing-container .kekahire-sidebar-wrapper ul li:hover {
	color: #F76919;
}
.kekahire-smart-listing-container .kekahire-listing-wrapper {
	float: left;
	margin-top: 25px;
	width: calc( 100% - 270px );
}
.kekahire-smart-listing-container .kekahire-listing {
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
	min-height: 60px;
}
.kekahire-smart-listing-container .kekahire-listing .kekahire-listing-title-wrapper {
	float: left;
	width: calc( 100% - 200px );
}
.kekahire-smart-listing-container .kekahire-listing h3 {
	font-size: 24px;
	color: #3A3A3A;
}
.kekahire-smart-listing-container .kekahire-listing .kekahire-listing-button-wrapper {
	width: 200px;
	float: left;
}
.kekahire-smart-listing-container .kekahire-apply-button {
	background: #F8F8F8;
	color: #757575;
	padding: 10px 50px;
	border-radius: 25px;
	font-size: 16px;
	text-align: center;
	max-width: 250px;
	display: block;
}
.kekahire-smart-listing-container .kekahire-apply-button:hover {
	background: #000;
	color: #FFF;
}

/* Grid Listing CSS*/
.kekahire-grid-listing-container .kekahire-location-selector,
.kekahire-grid-listing-container .kekahire-department-selector {
	text-align: center;
	margin-bottom: 20px;
	width: 50%;
	float: left;
}
.kekahire-grid-listing-container .kekahire-location-selector .kekahire-location-selector-title,
.kekahire-grid-listing-container .kekahire-department-selector .kekahire-department-selector-title {
	font-size: 18px;
	color: #3A3A3A;
	margin-right: 20px;
}
.kekahire-grid-listing-container .kekahire-location-selector select,
.kekahire-grid-listing-container .kekahire-department-selector select {
	padding: 10px 10px;
	width: 300px;
	text-align: left;
	border-color: #000;
	font-size: 18px;
}
.kekahire-grid-listing-container .kekahire-sidebar-listing-wrapper {
	margin-top: 50px;
	clear: both;
}
.kekahire-grid-listing-container .kekahire-sidebar-listing-wrapper h4 {
	font-size: 18px;
	color: #3A3A3A;
}
.kekahire-grid-listing-container .kekahire-listing-wrapper {
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
}
.kekahire-grid-listing-container .kekahire-col-default-4 {
	flex: 0 0 25%;
	max-width: 25%;
	padding-top: 30px;
}
.kekahire-grid-listing-container .kekahire-col-default-3 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
	padding-top: 30px;
}
.kekahire-grid-listing-container .kekahire-col-default-2 {
	flex: 0 0 50%;
	max-width: 50%;
	padding-top: 30px;
}
.kekahire-grid-listing-container .kekahire-listing-container {
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	margin-right: 20px;
	height: 180px;
	cursor: pointer;
	transition: .3s linear;
	padding: 1.25rem;
	display: flex;
	flex-direction: column !important;
	flex: 1 1 auto;
}
.kekahire-grid-listing-container .kekahire-listing-button-wrapper {
	display: flex !important;
	margin-top: auto !important;
	align-items: center !important;
	justify-content: space-between !important;
}
.kekahire-grid-listing-container .kekahire-apply-button {
	color: #757575;
}
.kekahire-grid-listing-container .kekahire-sidebar-listing-wrapper .kekahire-listing h3 {
	font-size: 20px;
	color: #3A3A3A;
}

/* Pagination CSS*/
.kekahire-pagination {
	text-align: center;
	clear: both;
	width: 100%;
}
.kekahire-pagination span {
	display: inline-block;
	background: #000;
	color: #FFF;
	padding: 10px 25px;
	border-radius: 5px;
	cursor: pointer;
}
.kekahire-grid-listing-container .kekahire-pagination span {
	margin-top: 20px;
}

@media only screen and (max-width: 1023px) {
	.kekahire-smart-listing-container .kekahire-listing-wrapper {
		float: none;
		margin-top: 25px;
		width: 100%;
	}
	.kekahire-smart-listing-container .kekahire-department-selector {
		display: block;
	}
	.kekahire-smart-listing-container .kekahire-sidebar-listing-wrapper h4 {
		display: none;
	}
	.kekahire-smart-listing-container .kekahire-sidebar-wrapper {
		display: none;
	}
	
	.kekahire-grid-listing-container .kekahire-location-selector, .kekahire-grid-listing-container .kekahire-department-selector {
		width: 100%;
		float: none;
	}
	.kekahire-grid-listing-container .kekahire-sidebar-listing-wrapper {
		margin-top: 20px;
	}
	.kekahire-grid-listing-container .kekahire-col-default-3,
	.kekahire-grid-listing-container .kekahire-col-default-4	{
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media only screen and (max-width: 640px) {
	.kekahire-smart-listing-container .kekahire-listing .kekahire-listing-title-wrapper {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	
	.kekahire-grid-listing-container .kekahire-col-default-2,
	.kekahire-grid-listing-container .kekahire-col-default-3,
	.kekahire-grid-listing-container .kekahire-col-default-4	{
		flex: 0 0 100%;
		max-width: 100%;
	}
}



